{% extends 'back_layout.html.twig' %}

{% block title %}Liste des supports{% endblock %}

{% block content %}
    <h1>Liste des supports</h1>
    <a href="{{ path('app_support_new') }}" class="btn btn-success">Créer un nouveau support</a>
    <table class="table">
        <thead>
            <tr>
                <th>Image du support</th>
                <th>Nom</th>
                <th>Date de sortie</th>
                <th>Constructeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td>
                    {% if support.mainImage is not empty %}
                    <img src="{{ asset(support.mainImage.webPath) }}" alt="" width="200">
                    {% endif %}
                </td>
                <td>{{ support.nom }}</td>
                <td>{{ support.dateSortie|date('d-m-Y') }}</td>
                <td>{{ support.constructeur }}</td>
                <td>
                    <a href="{{ path('app_support_show', {'id': support.id}) }}" class="btn btn-success">Consulter</a>
                    <a href="{{ path('app_support_edit', {'id': support.id}) }}" class="btn btn-light">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}