{% extends 'back_layout.html.twig' %}

{% block title %}Liste des supports{% endblock %}

{% block content %}
    <h1>Support index</h1>
    <form action="" method="get" class="d-flex my-3">
        <input type="text" name="s" class="form-control" value="{{ app.request.get("s") }}">
        <button type="submit" class="btn btn-light ms-1">Rechercher</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Image du support</th>
                <th>Nom</th>
                <th>Date de sortie</th>
                <th>Constructeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td>
                    {% if support.mainImage is not empty %}
                    <img src="{{ asset(support.mainImage.webPath) }}" alt="" width="200">
                    {% endif %}
                </td>
                <td>{{ support.nom }}</td>
                <td>{{ support.dateSortie|date('d-m-Y') }}</td>
                <td>{{ support.constructeur }}</td>
                <td>
                    <a href="{{ path('app_support_show', {'id': support.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_support_edit', {'id': support.id}) }}" class="btn btn-light">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_support_new') }}">Create new</a>
{% endblock %}