{% extends "back_layout.html.twig" %}

{% block content %}
<h1>{{ 'game.admin'|trans }}</h1>

<div class="card">
    <div class="card-header">
        <a href="{{ path('app_game_new') }}" class="btn btn-success">{{ 'game.new.title'|trans }}</a>
    </div>

    <div class="card-body">
        <form action="" method="get" class="d-flex my-3">
            <input type="text" name="s" class="form-control" value="{{ app.request.get("s") }}">
            <button type="submit" class="btn btn-light ms-1">Rechercher</button>
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image du jeu</th>
                        <th>Titre</th>
                        <th>Éditeur</th>
                        <th>Support</th>
                        <th>Date de sortie</th>
                        <th>Activé</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                {% for entity in entities %}
                    {# tr>td*3 #}
                    <tr>
                        <td>
                            {% if entity.mainImage is not empty %}
                                <img src="{{ asset(entity.mainImage.webPath) }}" alt="" width="200">
                            {% endif %}
                        </td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.editor }}</td>
                        <td>
                        {% for support in entity.support %}
                            {{ support }} <br>
                        {% endfor %}
                        </td>
                        <td>{{ entity.dateSortie|date('d-m-Y') }}</td>
                        <td class="text-white {{ entity.enabled ? 'bg-success':'bg-warning' }}">
                            {{ entity.enabled ? 'Oui':'Non' }}
                        </td>
                        <td>
                            <a href="{{ path('app_game_edit', {"id": entity.id}) }}" class="btn btn-light">Modifier</a>

                            <a href="{{ path('app_game_delete', {'id': entity.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            {# Inclus le fichier twig pagination et lui envoi la valeur de "route" #}
            {% include "decorator/_pagination.html.twig" with {"route": "app_game_admin"} %}

            <div>{{ entities.count }} jeux</div>
        </div>
        
    </div>
</div>

{% endblock %}