{% extends 'back_layout.html.twig' %}

{% block title %}Liste d'éditeurs{% endblock %}

{% block content %}
    <h1>Liste des éditeurs</h1>
    <a href="{{ path('app_editor_new') }}" class="btn btn-success">Créer un nouvel éditeur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editor in editors %}
            <tr>
                <td>{{ editor.id }}</td>
                <td>{{ editor.name }}</td>
                <td>
                    <a href="{{ path('app_editor_show', {'id': editor.id}) }}" class="btn btn-success">Consulter</a>
                    <a href="{{ path('app_editor_edit', {'id': editor.id}) }}" class="btn btn-light">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}