{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        <div class="position-fixed">
            {{ knp_menu_render('admin', {style: 'vertical'}) }}
        </div>
    </div>
    <div class="col-10">
        <div id="admin">
        {# Affichage des messages flash #}
            <div class="flash-message toast-container position-absolute top-0 end-0 p-3">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                    <div class="toast bg-{{ type }} show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">{{ type }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block content %}{% endblock %}
        </div>    
    </div>
    
</div>
{% endblock %}
        
{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}