{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}

{% block body %}
    <div id="admin">
<<<<<<< HEAD
    {# Affichage des messages flash #}
        <div class="flash-message toast-container position-absolute top-0 end-0 p-3">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                <div class="toast bg-{{ type }} show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">{{ type }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

=======
>>>>>>> 44d67d710b70d073ebd1a02239dc4f8f02c8eea5
        {% block content %}{% endblock %}
        
    </div>    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}